# ==============================================================================
# Filename:       roles/backup_manager/templates/restic_backup.service.j2
# Version:        1.1
# Author:         Gemini CLI
# Last Modified:  2026-04-02
# Context:        http://trac.home.arpa/ticket/3253
#
# Purpose:
#    Systemd service template for Restic backups with resource throttling.
#
# Update 1.1:
#    - Added Nice=19, CPUSchedulingPolicy=idle, and IOSchedulingClass=idle.
# ==============================================================================
[Unit]
Description=Restic backup service for {{ item.name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/restic/{{ item.name }}.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
