{
  "DefaultSearchProviderEnabled": true,
  "DefaultSearchProviderName": "{{ browser_baseline_default_search_engine_name }}",
  "DefaultSearchProviderSearchURL": "{{ browser_baseline_default_search_engine_url }}",
  "DefaultSearchProviderSuggestURL": "{{ browser_baseline_default_search_engine_suggest_url }}",
  "DefaultSearchProviderIconURL": "{{ browser_baseline_default_search_engine_icon_url }}",
  "DefaultSearchProviderKeyword": "{{ browser_baseline_default_search_engine_keyword }}",
  "SiteSearchSettings": [
{% for shortcut in browser_baseline_search_shortcuts %}
    {
      "name": "{{ shortcut.name }}",
      "shortcut": "{{ shortcut.keyword }}",
      "url": "{{ shortcut.url_template }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "PasswordManagerEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  "ExtensionInstallForcelist": {{ chrome_extension_install_forcelist | to_json }},
  "ManagedBookmarks": [
    {
      "toplevel_name": "Managed Bookmarks"
    }{% for bm in browser_baseline_common_bookmarks %},
    {
      "name": "{{ bm.name }}",
      "url": "{{ bm.url }}"
    }{% endfor %}
  ],
  "3rdparty": {
    "extensions": {
      "nngceckbapebfimnlniiiahkandclblb": {
        "environment": {
          "base": "{{ vaultwarden_server_url }}"
        }
      }
    }
  }
}
