# ==============================================================================
# Dillo cookie policy (managed by Ansible roles/browser_baseline)
# ==============================================================================
trac.gafla.us.com ACCEPT
trac.home.arpa ACCEPT
trac-lxc.home.arpa ACCEPT
wwos.home.arpa ACCEPT
wwos.gafla.us.com ACCEPT
192.168.0.99 ACCEPT
.gafla.us.com ACCEPT
.home.arpa ACCEPT
DEFAULT DENY
