[Desktop Entry]
Version=1.0
Name=Firefox Web Browser
Comment=Browse the Web (with Profile Selector)
Exec=/usr/bin/firefox-esr -P --no-remote %u
Icon=firefox-esr
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=Firefox-esr
