{"VERSION": "0.9.8.1", "searchEngines": [{"name": "WWOS", "url": "http://wwos.home.arpa/index.php?search=%s", "icon_url": "http://wwos.home.arpa/favicon.ico"}, {"name": "Trac", "url": "http://trac.gafla.us.com/search?q=%s&changeset=on&milestone=on&ticket=on&wiki=on", "icon_url": "http://trac.gafla.us.com/chrome/common/trac.ico"}, {"name": "Wikipedia", "url": "https://en.wikipedia.org/w/index.php?search=%s", "icon_url": "https://en.wikipedia.org/favicon.ico"}, {"name": "YouTube", "url": "https://www.youtube.com/results?search_query=%s", "icon_url": "https://www.youtube.com/favicon.ico"}, {"name": "Google", "url": "https://www.google.com/search?q=%s", "icon_url": "https://www.google.com/favicon.ico"}]}