# ==============================================================================
# w3m site configuration (managed by Ansible roles/browser_baseline)
# ==============================================================================

url "http://wwos.home.arpa/"
  charset UTF-8

url "http://trac.gafla.us.com/"
  charset UTF-8

url "http://netbox1.home.arpa/"
  charset UTF-8

url "http://paperless-ngx.home.arpa/"
  charset UTF-8
