{
  "Url": "{{ wallabag_server_url }}",
  "ApiVersion": "2.6.14",
  "ClientId": "{{ wallabag_client_id }}",
  "ClientSecret": "{{ wallabag_client_secret }}",
  "UserLogin": "{{ wallabag_username }}",
  "UserPassword": "{{ wallabag_password | default('') }}",
  "AllowSpaceInTags": false,
  "AllowExistCheck": true,
  "AllowExistSafe": true,
  "Debug": false,
  "AutoAddSingleTag": true,
  "ArchiveByDefault": false,
  "sitesToFetchLocally": null,
  "FetchLocallyByDefault": false
}
