[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
Name=Firefox ESR (profile selector)
Icon=firefox-esr
X-XFCE-Binaries=firefox-esr;
X-XFCE-Commands=/usr/bin/firefox-esr --ProfileManager;
X-XFCE-CommandsWithParameter=/usr/bin/firefox-esr --ProfileManager "%s";
