export default {
  hostname: "{{ ktn_hostname }}",
  systemAdministratorEmail: "will@home.arpa",
  dataDirectory: "{{ ktn_data_directory }}/",
  environment: "production",
  extraGlobalOptions: `
    http_port {{ ktn_http_port }}
    auto_https off
  `,
};
