KTN_IMAP_HOST={{ ktn_imap_host }}
KTN_IMAP_PORT={{ ktn_imap_port }}
KTN_IMAP_USER={{ ktn_imap_user }}
KTN_IMAP_PASSWORD="{{ ktn_imap_password }}"
KTN_HOSTNAME={{ ktn_hostname }}
KTN_SMTP_HOST=127.0.0.1
KTN_SMTP_PORT={{ ktn_smtp_port }}
KTN_DELIVERY_STATE={{ ktn_data_directory }}/imap-delivered-uids.json
