KTN_IMAP_HOST={{ ktn_imap_host }}
KTN_IMAP_PORT={{ ktn_imap_port }}
KTN_IMAP_USER={{ ktn_imap_user }}
KTN_IMAP_PASSWORD="{{ ktn_imap_password }}"
KTN_HOSTNAME={{ ktn_hostname }}
KTN_SMTP_HOST=127.0.0.1
KTN_SMTP_PORT={{ ktn_smtp_port }}
KTN_DELIVERY_STATE={{ ktn_delivery_state }}
KTN_IMAP_TIMEOUT={{ ktn_imap_timeout }}
KTN_SMTP_TIMEOUT={{ ktn_smtp_timeout }}
KTN_PULLER_RUN_BUDGET={{ ktn_puller_run_budget }}
KTN_MAX_MESSAGE_BYTES={{ ktn_max_message_bytes }}
KTN_GRAYLOG_HOST={{ ktn_puller_graylog_host }}
KTN_GRAYLOG_PORT={{ ktn_puller_graylog_port }}
KTN_ALERT_EMAIL={{ ktn_puller_alert_email }}
