{
  "general": {
    "preferredEditor": "vim",
    "previewFeatures": true,
    "sessionRetention": {
      "warningAcknowledged": true,
      "enabled": true,
      "maxAge": "30d"
    }
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  },
  "ui": {
    "showLineNumbers": false,
    "showMemoryUsage": true,
    "showModelInfoInChat": true,
    "useAlternateBuffer": true,
    "footer": {
      "hideModelInfo": false,
      "hideContextPercentage": false,
      "showLabels": true,
      "items": ["model", "context", "memory", "cwd", "sandbox"]
    }
  }
}
