# trac-apache.conf.j2
<VirtualHost *:80>
    ServerName trac.home.arpa
    ServerAlias 192.168.0.144


    WSGIScriptAlias / /var/trac/trac.wsgi

    <Directory /var/trac>
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>

    # Protect the WSGI application so REMOTE_USER reaches Trac on every route.
    <Location "/">
        AuthType Basic
        AuthName "Trac"
        AuthUserFile /etc/apache2/.htpasswd
        Require valid-user
    </Location>

    <Location "/login/xmlrpc">
        AuthType Basic
        AuthName "Trac XML-RPC"
        AuthUserFile /etc/apache2/.htpasswd
        Require valid-user
    </Location>
</VirtualHost>
