# This is a sample Vikunja configuration file.
# You MUST change the jwt secret and configure a database for production use.

service:
  # The address and port Vikunja will listen on
  listenaddr: "0.0.0.0:3456"
  # The public URL where Vikunja is accessible
  publicurl: "http://todo.gafla.us.com/"

# Database configuration - using sqlite by default for simplicity.
# Recommended to switch to postgres or mysql for production.
database:
  type: sqlite
  path: {{ vikunja_data_dir }}/vikunja.db

# You MUST change this to a long, random string!
# Use `openssl rand -base64 32` to generate a new one.
auth:
  jwt:
    secret: "!!CHANGE_ME_PLEASE!!"

# Directory for storing files
files:
  basepath: "{{ vikunja_data_dir }}/files"

cors:
  enable: true
  origins:
    - http://todo.gafla.us.com
    - http://vik-01.van-bee.ts.net
    - https://todo.van-bee.ts.net
    - http://todo.van-bee.ts.net
    - http://todo.home.arpa
    - https://todo.home.arpa

# Mailer configuration
mailer:
  # Whether to enable the mailer. If disabled, no emails will be sent.
  enabled: {{ vikunja_mailer_enabled | default(false) | lower }}
  # The host of the SMTP server
  host: "{{ vikunja_mailer_host | default('smtp.gmail.com') }}"
  # The port of the SMTP server
  port: {{ vikunja_mailer_port | default(587) }}
  # The username to use for the SMTP server
  username: "{{ vikunja_mailer_username | default('') }}"
  # The password to use for the SMTP server
  password: "{{ vikunja_mailer_password | default('') }}"
  # The address the emails will be sent from
  fromaddress: "{{ vikunja_mailer_from_address | default('wrtaff@gmail.com') }}"
  # Whether to use SSL for the SMTP connection
  skiptlsverify: false
  # The type of authentication to use for the SMTP server.
  # Can be "plain", "login" or "cram-md5".
  authtype: "plain"
