misc.firstrun: 0
misc.max-toolbarset: 8191
misc.toolbarset: 8191
misc.benchtype-rect: 1 1 6 2 2 4 2 6 6 2 8 8 4 4 4
misc.benchtype-lgrider: 2 4 5 3 4 6 4 5 8
misc.benchtype-tgrider: 2 4 4 3 4 7 4 5 8
paths.params: /home/{{ xtc_user }}
Parameter File Map.Atlas Code 100 HO Scale: /usr/share/xtrkcad/params/HO-atl100ho.xtp
Parameter File Map.Fleischmann HO Modell-Gleis: /usr/share/xtrkcad/params/HO-fl-model.xtp
Parameter File Map.Fleischmann HO Profi-Gleis: /usr/share/xtrkcad/params/HO-fl-profi.xtp
Parameter File Map.Peco North American Code 70 HO Scale Track: /usr/share/xtrkcad/params/HO-Peco70USA.xtp
Parameter File Map.Walthers Cornerstone HO Structures 1: /usr/share/xtrkcad/params/HO-WalthCornerstone 1.xtp
Parameter File Map.Walthers Cornerstone N Structures: /usr/share/xtrkcad/params/N-walth-n.xtp
Parameter File Map.Märklin 1 Scale Turnouts: /usr/share/xtrkcad/params/1-mrkln.xtp
Parameter File Map.Jouef Points & Track Sections: /usr/share/xtrkcad/params/JouefHO.xtp
Parameter File Map.Peco O Scale Bullhead Turnouts: /usr/share/xtrkcad/params/O-Peco-Bullhead.xtp
Parameter File Map.Micro Trains Z Scale Micro-Track Components: /usr/share/xtrkcad/params/Z-Micro-Trains.xtp
Parameter File Map.Fast Tracks Sn3: /usr/share/xtrkcad/params/Sn3-Fast Tracks.xtp
Parameter File Map.Lionel Ready-To-Play Track: /usr/share/xtrkcad/params/G-Lionel Ready-To-Play Track.xtp
Parameter File Map.Playmobil RC Track: /usr/share/xtrkcad/params/G-Playmobil RC Track.xtp
Parameter File Map.Atlas O 2 Rail: /usr/share/xtrkcad/params/O-Atlas2Rail.xtp
Parameter File Map.Atlas N-Scale Track Code 80: /usr/share/xtrkcad/params/N-Atlas Code 80 Track.xtp
Parameter File Map.Piko G Scale Track: /usr/share/xtrkcad/params/G-Piko.xtp
Parameter File Names.File1: North American Rolling-Stock Prototype Cars
Parameter File Names.File2: Trees
Parameter File Names.File3: NMRA RP-12 37 Feb 2015 Z scale Turnouts
Parameter File Names.File4: NMRA RP-12 35 Feb 2015 N Scale Turnouts
Parameter File Names.File5: NMRA RP-12 33 Feb 2015 TT Scale Turnouts
Parameter File Names.File6: NMRA RP-12 31 Feb 2015 HO Scale Turnouts
Parameter File Names.File7: NMRA RP-12 27 Feb 2015 S Scale Turnouts
Parameter File Names.File8: NMRA RP-12 25 Feb 2015 O scale Turnouts
Parameter File Map.Piko A Track Components: /usr/share/xtrkcad/params/HO-Piko-A.xtp
Parameter File Map.Bachmann E-Z Track Components: /usr/share/xtrkcad/params/BachmannEZ-HO.xtp
Parameter File Map.Bachmann EZ Track N Scale: /usr/share/xtrkcad/params/BachmannEZ-N.xtp
Parameter File Map.Trix Express H0 Scale: /usr/share/xtrkcad/params/HO-TrixExpress Tracks.xtp
Parameter File Map.Kato Unitrack HO-Scale: /usr/share/xtrkcad/params/HO-Kato.xtp
Parameter File Map.Minitrix N Scale: /usr/share/xtrkcad/params/minitrix.xtp
file.updatetime: 20240119
Parameter File Map.North American Prototypes: /usr/share/xtrkcad/params/protoam.xtp
Parameter File Map.Trees: /usr/share/xtrkcad/params/trees.xtp
Parameter File Map.NMRA RP-12.37 Feb 2015 Z scale Turnouts: /usr/share/xtrkcad/params/nmra-z.xtp
Parameter File Map.NMRA RP-12.35 Feb 2015 N Scale Turnouts: /usr/share/xtrkcad/params/nmra-n.xtp
Parameter File Map.NMRA RP-12.33 Feb 2015 TT Scale Turnouts: /usr/share/xtrkcad/params/nmra-tt.xtp
Parameter File Map.NMRA RP-12.31 Feb 2015 HO Scale Turnouts: /usr/share/xtrkcad/params/nmra-ho.xtp
Parameter File Map.NMRA RP-12.27 Feb 2015 S Scale Turnouts: /usr/share/xtrkcad/params/nmra-s.xtp
Parameter File Map.NMRA RP-12.25 Feb 2015 O scale Turnouts: /usr/share/xtrkcad/params/nmra-o.xtp
Parameter File Map.North American Rolling-Stock Prototype Cars: /usr/share/xtrkcad/params/protoam.xtp
Parameter File Map.NMRA RP-12 37 Feb 2015 Z scale Turnouts: /usr/share/xtrkcad/params/nmra-z.xtp
Parameter File Map.NMRA RP-12 35 Feb 2015 N Scale Turnouts: /usr/share/xtrkcad/params/nmra-n.xtp
Parameter File Map.NMRA RP-12 33 Feb 2015 TT Scale Turnouts: /usr/share/xtrkcad/params/nmra-tt.xtp
Parameter File Map.NMRA RP-12 31 Feb 2015 HO Scale Turnouts: /usr/share/xtrkcad/params/nmra-ho.xtp
Parameter File Map.NMRA RP-12 27 Feb 2015 S Scale Turnouts: /usr/share/xtrkcad/params/nmra-s.xtp
Parameter File Map.NMRA RP-12 25 Feb 2015 O scale Turnouts: /usr/share/xtrkcad/params/nmra-o.xtp
Parameter File Names.File9: Bachmann E-Z Track Components
Parameter File Favorites.Total: 0
misc.scale: HO
misc.hotbar-start: 45
draw.maximized: 1
misc.version: 5.3.0GA
misc.lastlayout: {{ xtc_default_layout }}
filelist.file0: {{ xtc_default_layout }}
DialogItem.pref-units: 0
DialogItem.pref-dstfmt: 4