[Desktop Entry]
Name=XTrackCAD
Comment=CAD program for designing model railroad layouts
Exec=xtrkcad %f
Icon=/usr/share/xtrkcad/pixmaps/xtrkcad.png
Terminal=false
Type=Application
Categories=Graphics;Engineering;Construction;
MimeType=application/x-xtrkcad;
Keywords=model;railroad;train;layout;cad;
