{% set unmanaged = {} %}
{% set purged_servers = ['ha-mcp'] %}
{% for name, server in current_mcp_config.get('mcpServers', {}).items() %}
{%   if name not in mcp_servers and name not in purged_servers %}
{%     set _ = unmanaged.update({name: server}) %}
{%   endif %}
{% endfor %}
{{ current_mcp_config | combine({'mcpServers': unmanaged | combine(mcp_servers)}, recursive=False) | to_nice_json }}
