---
# ==============================================================================
# Filename:       install_neomutt.yml
# Version:        1.1
# Author:         Gemini CLI
# Last Modified:  2026-02-05
# Context:        http://trac.home.arpa/ticket/3035
#
# Purpose:
#     Installs NeoMutt MUA and configures it for the local Mail Repository.
#     Includes a bash alias for 'mutt'.
# ==============================================================================
- name: Install and Configure NeoMutt on Zeus
  hosts: zeus
  become: yes
  tasks:
    - name: Install NeoMutt
      apt:
        name: neomutt
        state: present
        update_cache: yes

    - name: Create NeoMutt configuration for Mail Repository
      template:
        src: muttrc_mailrepo.j2
        dest: /home/will/.muttrc.mailrepo
        owner: will
        group: will
        mode: '0600'

    - name: Add mutt alias to .bashrc
      lineinfile:
        path: /home/will/.bashrc
        regexp: "^alias mutt="
        line: "alias mutt='neomutt -F ~/.muttrc.mailrepo'"
        owner: will
        group: will
        mode: '0644'
