---
- name: Install and Configure NeoMutt on Zeus
  hosts: zeus
  become: yes
  tasks:
    - name: Install NeoMutt
      apt:
        name: neomutt
        state: present
        update_cache: yes

    - name: Create NeoMutt configuration for Mail Repository
      template:
        src: muttrc_mailrepo.j2
        dest: /home/will/.muttrc.mailrepo
        owner: will
        group: will
        mode: '0600'
