# roles/system_common/tasks/main.yml
---
- name: Update apt package cache and upgrade all packages
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    cache_valid_time: 3600

- name: Ensure common utility packages are installed
  ansible.builtin.apt:
    name:
      - curl
      - htop
      - git
      - vim
    state: present

- name: Install QEMU Guest Agent for Proxmox VMs
  ansible.builtin.apt:
    name: qemu-guest-agent
    state: present
  when: ansible_virtualization_type == "kvm"

- name: Set system timezone from group_vars
  become: yes
  community.general.timezone:
    name: "{{ system_timezone }}"
  notify: Restart cron  # <-- ADD THIS LINE    

- name: Set vim.tiny as the default system editor
  community.general.alternatives:
    name: editor
    path: /usr/bin/vim.tiny

- name: Enable vim showmode for all users
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/vim/vimrc.local
    line: "set showmode"
    create: yes
    mode: '0644'

# --- NEW TASKS FOR REBOOT MANAGEMENT ---
- name: Check if a reboot is required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Reboot the server if required
  ansible.builtin.reboot:
    msg: "Reboot initiated by Ansible due to kernel updates"
  when: reboot_required_file.stat.exists
